# A Python utility / library to sort Python imports.
# https://github.com/timothycrosley/isort
isort

# Code coverage measurement for Python
# https://bitbucket.org/ned/coveragepy
coverage

# A tool that automatically formats Python code to conform to the PEP 8 style guide
# https://github.com/hhatto/autopep8
autopep8

# the modular source code checker: pep8, pyflakes and co
# https://gitlab.com/pycqa/flake8
flake8

# Extensions to the standard Python datetime module
# https://dateutil.readthedocs.io
python-dateutil

# HTML/XML parser for quick-turnaround applications like screen-scraping.
# http://www.crummy.com/software/BeautifulSoup/
beautifulsoup4

# Jupyter metapackage. Install all the Jupyter components in one go.
# http://jupyter.org
jupyter

# Powerful data structures for data analysis, time series,and statistics
# http://pandas.pydata.org
pandas
